{% extends 'layout_visitor.html.twig' %}

{% block body %}
    <section class="jumbo">
        <div class="jumbotron mt-5 jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
            <div class="stamp">
                <img src="{{ asset('build/images/logos/logo_feather.png') }}" width="250em" alt="WildSpirit">
            </div>
        </div>
    </section>


{% endblock body %}
