{% extends 'layout_visitor.html.twig' %}

{% block body %}
    <section class="jumbo">
        <div class="jumbotron mt-5 jumbotron-fluid">
            <div class="container jumbo-text text-center">
                <h1 class="display-4">Wild Spirit</h1>
                <p class="lead">Site de référencement d'association pour animaux</p>
            </div>

        </div>
    </section>


{% endblock body %}
