
$primary-color: whitesmoke;
$secondary-color: pink;
$third-color: #99ffee;
$fourth-color: #aae59b;

$transparent: transparent;
$light-shadow: 2px 2px 2px whitesmoke;
$dark-shadow: 2px 2px 2px black;

$font-title: 'Overlock SC', cursive;
$font-text: 'Arapey', serif;
$font-one: 'Buda', cursive;
$font-two: 'Cormorant Infant', serif;
$font-three: 'Pompiere', cursive;
