@import "_vars";
@import "homepage";
@import "navbar";
@import "footer";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import url('https://fonts.googleapis.com/css?family=Arapey|Buda:300|Cormorant+Infant|Overlock+SC|Pompiere&display=swap');


body {
    background-color: whitesmoke;
    //background: url("../images/backgrounds/bg-WS.jpg") fixed;
    h1, h2, h3, h4, h5, h6 {
        font-variant: small-caps;
        font-family: $font-one;
    }
}
