@import "_vars";
@import "homepage";
@import "navbar";
@import "footer";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import url('https://fonts.googleapis.com/css?family=Arapey|Buda:300|Cormorant+Infant|Overlock+SC|Pompiere&display=swap');


body {
    background-color: whitesmoke;
    //background: url("../images/backgrounds/bg-WS.jpg") fixed;
    h1, h2, h3, h4, h5, h6 {
        font-variant: small-caps;
        font-family: $font-title;
    }
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 2em;
    }
    h4 {
        font-size: 1.5em;
    }
    h5 {
        font-size: 1.5em;
    }

    p {
        font-family: $font-one;
        font-size: 1.2em;
    }
}
