.jumbo {
  .jumbotron {
    background-image: url("../images/jumbotron/dog_hand.jpg");
    background-attachment: fixed;
    height: 70vh;
    background-repeat: no-repeat;
    margin-bottom: 0;
    background-position: top;
    background-size: contain;
    text-align: center;
    display: block;
    .jumbo-text {
      justify-content: center;
    }
  }
}

.associations {

  .assoc-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    left: 0;
    right: 0;

    .card {
      width: 25em;
      height: 25em;
      p {
        text-align: left;
        margin-top: 3em;
        display: none;
      }
      .category {
        //padding-bottom: 0;
        ul {
          margin-top: 3em;
          padding-left: 0;
          li {
            display: inline;
            i {
              font-size: 2em;
              margin-left: 0.15em;
              margin-right: 0.15em;
              text-shadow: 1px 2px 1px gray;
            }
            .one {
              color: $secondary-color;
            }
            .two {
              color: $third-color;
            }
            .three {
              color: $fourth-color;
            }
          }
        }
      }
    }
    .card:hover img {
      opacity: 0.5;
      transition: .5s ease-in-out;
    }
    .card:hover p {
      display: block;
    }
  }
}