.navbar {
  height: 3em;
  background-image: url("../images/backgrounds/bg-dark.png");
  background-size: contain;
  font-size: 1.7em;
  font-variant: small-caps;
  box-shadow: 2px 3px 10px #432108;

  .dropdown-menu {
    background-image: url("../images/backgrounds/bg-dark.png");
    background-size: contain;
    width: 11.5em;
    font-size: 0.7em;
    .dropdown-item {
      i {
        font-size: 0.7em;
        padding-top: 0;
        padding-bottom: 0.7em;
        padding-left: 0;
        padding-right: 0.2em;
      }
    }
    .dropdown-item:hover {
      background-color: transparent;
      transform: none;
      i.one {
        color: $secondary-color;
      }
      i.two {
        color: $third-color;
      }
      i.three {
        color: $fourth-color;
      }
    }
  }

  .navbar-brand {
    img {
      top: 0.06em;
      position: absolute;
      text-shadow: 2px 3px 10px #432108;
    }
    img:hover {
      transform: rotate(-5deg);
      transition: .5s ease-in-out;
    }
  }
  a {
    //margin-top: 0.04em;
    padding-top: 0;
    padding-bottom: 0;
    color: whitesmoke;
    vertical-align: middle;
    text-shadow: 3px 1px #201004, -1px -1px 2px #444;
    font-family: $font-title;
    font-size: 1.3em;
  }
  .one:hover {
    color: $secondary-color;
  }
  .two:hover {
    color: $third-color;
  }
  .three:hover {
    color: $fourth-color;
  }
  i {
    padding: 1.5em;
    font-size: 0.5em;
    color: whitesmoke;
    vertical-align: middle;
    text-shadow: 3px 1px #201004, -1px -1px 2px #444;
  }
  form {
    //margin-left: 7em;
    .form-control {
      box-shadow: 3px 1px #201004, -1px -1px 2px #444;
      margin-right: 0.5em;
      width: 13em;
      color: $fourth-color;
      font-variant: small-caps;
    }
    @media (max-width: 668px) {
      .form-inline {
        display: contents !important;
      }
    }

  }

  button {
    padding: 0;
    i {
      color: #432108;
      background-color: $primary-color;
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.25em;
      padding-bottom: 0.29em;
      font-size: 1.5em;
      box-shadow: 3px 1px #201004, -1px -1px 2px #444;
      border-radius: 4px;
      text-shadow: rgba(255,255,255,0.5) 0 3px 3px;
    }
    i:hover {
      background-color: $fourth-color;

    }
  }
}
