.new {
  background-image: url("../images/associations/dog_hug.png");
  background-attachment: fixed;
  //height: 70vh;
  background-repeat: no-repeat;
  margin-bottom: 0;
  background-position: bottom;
}
