<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#"><img src="{{ asset('build/images/logos/logo_nav_3.png') }}" width="300em" alt="WildSpirit"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link one dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    <a class="dropdown-item one" href="/">Refuges</a>
                    <a class="dropdown-item two" href="/">Chiens</a>
                    <a class="dropdown-item three" href="/">Chats</a>
                    <a class="dropdown-item one" href="/">Oiseaux</a>
                    <a class="dropdown-item two" href="/">Poissons</a>
                    <a class="dropdown-item three" href="/">Chevals</a>
                    <a class="dropdown-item one" href="/">Bovins</a>

                </div>
            </li>
            <i class="fas fa-paw"></i>
            <li class="nav-item ">
                <a class="nav-link two" href="#">Mon association</a>
            </li>
            <i class="fas fa-paw"></i>
            <li class="nav-item">
                <a class="nav-link three" href="#">News</a>
            </li>
            <i class="fas fa-paw"></i>
        </ul>
    </div>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control" type="search" placeholder="Rechercher..." aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-check"></i></button>
    </form>
</nav>
